* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  --bg-color: #edf2ff;
  --text-color: #00082f;
  --primary-color: #4263eb;
  --primary-color-dark: #364fc7;
}

body.dark-blue {
  --bg-color: #00082f;
  --text-color: #ffffff;
}

body.pink {
  --bg-color: #fff0f6;
  --text-color: #1f0008;
  --primary-color: #d6336c;
  --primary-color-dark: #a61e4d;
}

body.dark-gold {
  --bg-color: #1c1c1c;
  --text-color: #c0c0c0;
  --primary-color: #ffa500;
  --primary-color-dark: #ff8c00;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background: var(--bg-color);
}

.container {
  text-align: center;
  width: 300px;
  margin: 20px auto;
}

img {
  width: 100%;
}

img.avatar {
  border-radius: 50%;
  width: 110px;
  height: 110px;
  padding: 3.7px;
  border: var(--primary-color) solid 4px;
}

h1 {
  font-size: 32px;
  margin-top: 24px;
  margin-bottom: 8px;
}

.username {
  font-family: 'Roboto Mono', monospace;
  opacity: 0.8;
  font-size: 18px;
}

ul {
  list-style: none;
  margin: 48px 0;
}

ul li a {
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 16px;
  border-radius: 6px;
  transition: background 400ms;
}

ul li a:hover {
  background: var(--primary-color-dark);
}

footer {
  font-weight: 500;
  font-size: 12px;
  opacity: 0.6;
  transition: opacity 400ms;
}

footer:hover {
  opacity: 1;
}

footer a {
  color: var(--text-color);
}
